*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(117, 117, 117);
    padding-block: 30px;
    margin-bottom: 50px;
}

input{
    width: 500px;
    height: 40px;
    border-radius: 10px;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    padding-inline: 20px;
}

button{
    width: 100px;
    padding-block: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

input:hover, button:hover{
    border: 3px solid rgb(3, 87, 51);
}


button:active{
    background-color: rgb(20, 113, 56);
}

.list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

img{
    width: 200px;
    height: 300px;
    margin: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

img:hover{
    box-shadow: 10px 10px 20px rgb(93, 91, 91);
    transform: scale(1.2);
}